* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; /* 基准字体大小 */
}

@media (max-width: 1200px) {
  html {
    font-size: 14px; /* 调整较小屏幕上的基准字体大小 */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px; /* 更小屏幕上的基准字体大小 */
  }

  .result_content {
    height: 100vh;
    scroll-snap-type: none;
    overflow-y: auto;
  }

  .result_card {
    height: 100%;
    padding: 1rem; /* 20px 转换为 rem */
    opacity: 0; /* 初始透明度为0 */
    transform: translateY(20px); /* 初始位置稍微向下 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 添加过渡效果 */
  }

  .result_card.fade-in {
    opacity: 1; /* 最终透明度为1 */
    transform: translateY(0); /* 最终位置为原始位置 */
  }

  .result_image img {
    max-height: 10rem; /* 在更小屏幕上进一步缩小图片高度 */
  }

  .symptom_name {
    font-size: 0.875rem; /* 更小的屏幕调整为较小的字体大小 */
  }

  .symptom_list {
    max-height: 40vh; /* 在更小屏幕上进一步限制高度 */
  }

  .simptom_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 0; /* 10px 转换为 rem */
  }

  .symptom_status {
    display: flex;
    gap: 0.625rem; /* 10px 转换为 rem */
  }

  .message_tip {
    font-size: 2.5rem; /* 40px 转换为 rem */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 10px; /* 最小屏幕的基准字体大小 */
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

/* 收缩栏布局 */
.side_bar {
  background-color: #eceeff;
  box-sizing: border-box;
  width: 9.375rem; /* 200px 转换为 rem */
  padding: 1.25rem; /* 20px 转换为 rem */
  transition: all 0.6s ease-in-out;
  position: relative;
  flex-growth: 0;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}

.side_bar.hidden {
  width: 0;
  padding: 0;
  flex: 0;
  transition: all 0.6s ease-in-out;
}

.layout .toggle_img {
  position: absolute;
  top: 0.625rem; /* 10px 转换为 rem */
  left: 0.9375rem; /* 15px 转换为 rem */
  width: 1.5625rem; /* 25px 转换为 rem */
  height: 1.25rem; /* 20px 转换为 rem */
  cursor: pointer;
  padding: 0.1875rem; /* 3px 转换为 rem */
  border: 0.125rem solid transparent; /* 2px 转换为 rem */
  transition: border-color 0.6s ease-in-out, left 0.6s ease-in-out,
    background-color 0.6s ease-in-out;
  z-index: 999;
}

.layout .toggle_img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem; /* 5px 转换为 rem */
}

.side_bar ul {
  list-style: none;
  margin-top: 3.125rem; /* 50px 转换为 rem */
}

.side_bar ul li {
  margin-bottom: 0.9375rem; /* 15px 转换为 rem */
}

.side_bar ul li a {
  text-decoration: none;
  color: rgb(99, 106, 154);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 聊天框布局 */
.chat_content {
  background: url("../images/background.png") no-repeat center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex:2;
}

.chat_content .message_container {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.message_container .logo {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 6rem;
  height: 4rem;
}

.message_container .logo img {
  width: 100%;
  height: 100%;
}

.message_tip {
  position: absolute;
  left: 0.625rem; /* 10px 转换为 rem */
  top: 1.875rem; /* 30px 转换为 rem */
  font-size: 2rem; /* 60px 转换为 rem */
  font-family: "League Spartan";
  font-weight: bold;
}

.message_list {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  border-width: 0px;
  display: flex;
  flex-direction: column;
}

.message_left {
  width: 100%;
  margin-top: 2.5rem; /* 20px 转换为 rem */
}

.message_left_item {
  width: 55%;
  height: 6.25rem; /* 100px 转换为 rem */
  float: left;
  margin-left: 1.25rem; /* 20px 转换为 rem */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 添加过渡效果 */
}

.message_left_item.new {
  opacity: 0; /* 初始透明度为0 */
  transform: translateY(20px); /* 初始位置稍微向下 */
}

.message_left_item.new.fade-in {
  opacity: 1; /* 最终透明度为1 */
  transform: translateY(0); /* 最终位置为原始位置 */
}

.message_left_item .message_left_content {
  position: relative;
  padding: 0.9375rem; /* 15px 转换为 rem */
  display: inline-block;
  border-top-left-radius: 0px;
  background: #e0e6ff;
  border-radius: 1rem; /* 16px 转换为 rem */
  padding: 0.625rem 1.25rem; /* 10px 和 20px 转换为 rem */
  color: #888;
  font-family: Arial, sans-serif;
  font-size: 0.8rem; /* 18px 转换为 rem */
  width: fit-content;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1); /* 2px 和 10px 转换为 rem */
}

.message_left_item .message_left_content:before {
  content: "";
  position: absolute;
  top: 0.625rem; /* 10px 转换为 rem */
  left: -0.9375rem; /* 15px 转换为 rem */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.625rem 1.25rem 0.625rem 0; /* 10px 和 20px 转换为 rem */
  border-color: transparent #e0e6ff transparent transparent;
}

.message_right {
  width: 100%;
  height: 7.5rem; /* 120px 转换为 rem */
  transform: translateY(20px); /* 初始位置稍微向下 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 添加过渡效果 */
}

.message_right.fade-in {
  opacity: 1; /* 最终透明度为1 */
  transform: translateY(0); /* 最终位置为原始位置 */
}

.message_right_avatar {
  width: 3.125rem; /* 50px 转换为 rem */
  height: 3.125rem; /* 50px 转换为 rem */
  margin-left: 1.875rem; /* 30px 转换为 rem */
  float: right;
  color: white;
  border-radius: 50%;
  position: relative;
}

.message_right_avatar img {
  width: 100%;
  height: 100%;
}

.message_right_item {
  width: 55%;
  height: 6.25rem; /* 100px 转换为 rem */
  float: right;
  margin-top: 0.625rem; /* 10px 转换为 rem */
  margin-right: 0.625rem; /* 10px 转换为 rem */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message_right_content {
  position: relative;
  float: right;
  margin-right: 0.3125rem; /* 5px 转换为 rem */
  background: #e0e6ff;
  border-radius: 1rem; /* 16px 转换为 rem */
  padding: 0.625rem 1.25rem; /* 10px 和 20px 转换为 rem */
  color: #888;
  font-family: Arial, sans-serif;
  font-size: 0.8rem; /* 18px 转换为 rem */
  width: fit-content;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 和 8px 转换为 rem */
}

.message_right_content:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem; /* 20px 转换为 rem */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.625rem 0 0.625rem 1.25rem; /* 10px 和 20px 转换为 rem */
  border-color: transparent transparent transparent #e0e6ff;
}

.chat_content .send_message {
  background-image: linear-gradient(#636a9a, #d7d8ff);
  width: 100%;
  height: 4.375rem; /* 70px 转换为 rem */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1.25rem; /* 20px 转换为 rem */
}

.send_message input {
  border-radius: 0.625rem; /* 10px 转换为 rem */
  height: 1.875rem; /* 30px 转换为 rem */
  border: 0;
  outline: none;
  box-sizing: border-box;
  padding-left: 0.3125rem; /* 5px 转换为 rem */
  flex: 1;
  margin-right: 1.25rem; /* 20px 转换为 rem */
}

.send_message .send_button {
  width: 2.5rem; /* 40px 转换为 rem */
  height: 1.5625rem; /* 25px 转换为 rem */
  /* border-radius: 50%; */
  background-color: #636a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.content_hidden {
  display: none;
}

.content_show {
  display: block;
}

.selected_symptom {
  background-image: linear-gradient(to right, rgba(99, 106, 154, 0.8), #d7d8ff);
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE 和 Edge 隐藏滚动条 */
  scrollbar-width: none; /* Firefox 隐藏滚动条 */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* 适用于移动端的滚动惯性效果 */
  flex:2;
}

.selected_symptom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.9375rem;
  background-color: #e0e6ff;
}

.selected_symptom_header_l {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.selected_symptom_header_r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected_symptom_header_r div {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  display: block;
  cursor: pointer;
}

.selected_symptom_main {
  box-sizing: border-box;
  padding: 0 1.25rem 0 1.25rem;
  display:flex;
  flex-direction:column;
}

.selected_symptom_list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #e0e6ff;
  border-radius: 1.875rem;
  box-sizing: border-box;
  padding: 1.875rem;
  height: 25rem;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.preview {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.preview img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.preview_text {
  font-size: 1.2rem;
  color: #eceeff;
  font-weight: bold;
}

.selected_symptom_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.selected_symptom_item div:first-child {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.selected_symptom_item div:last-child img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.result_content {
  background-image: linear-gradient(to right, rgba(99, 106, 154, 0.8), #d7d8ff);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* IE 和 Edge 隐藏滚动条 */
  scrollbar-width: none; /* Firefox 隐藏滚动条 */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* 适用于移动端的滚动惯性效果 */
  flex:3;
}

.result_content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera 隐藏滚动条 */
}

.result_card {
  width: 100%;
  /* 移动端要设置为 100% */
  height: 100%; 
  /* PC端要设置为 100vh */
  /* height: 100vh;  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  scroll-snap-align: start;
  padding: 1.5rem; /* 40px 转换为 rem */
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow-y: auto;
}

.result_header {
  background-color: transparent;
  font-size: 2rem; /* 45px 转换为 rem */
  font-family: "League Spartan";
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  /* margin-bottom: 1rem; 30px 转换为 rem */
}

.result_main {
  background-color: white;
  position: relative;
  border-radius: 1.875rem; /* 30px 转换为 rem */
  box-sizing: border-box;
  padding: 1.2rem; /* 25px 转换为 rem */
}

.result_name {
  font-size: 2.8125rem; /* 45px 转换为 rem */
  font-family: "League Spartan";
  font-weight: bold;
  position: absolute;
  top: -2.5rem; /* 40px 转换为 rem */
  left: 16.25rem; /* 260px 转换为 rem */
}

.result_brief_intro {
  color: #676778;
  font-family: "DM Sans";
  font-size: 1.25rem; /* 20px 转换为 rem */
  margin-bottom: 0.625rem; /* 10px 转换为 rem */
}

.result_image {
  margin-bottom: 0.5rem; /* 20px 转换为 rem */
}

.result_image img {
  width: 100%;
  height: auto; /* 250px 转换为 rem */
  max-height: 12.5rem; /* 200px 转换为 rem */
  border-radius: 1.875rem; /* 30px 转换为 rem */
}

.split_line {
  border-top: 0.0625rem solid #676778; /* 1px 转换为 rem */
}

.symptom_info {
  width: 100%;
}

.symptom_intro {
  margin-top: 0.5rem; /* 20px 转换为 rem */
  font-weight: bold;
  color: #676778;
  font-family: "DM Sans";
}

.symptom_intro {
  margin-top: 0.5rem; /* 20px 转换为 rem */
  font-weight: bold;
  color: #676778;
  font-family: "DM Sans";
}

.symptom_list {
  display: flex;
  flex-direction: column;
  height: 16.25rem;
  overflow-y: auto; /* 启用独立滚动 */
  margin-bottom: 1rem;
}

.simptom_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.625rem 0; */
}

.symptom_name {
  color: black;
  font-weight: bold;
  font-size: 1rem; /* 15px 转换为 rem */
  width: 9.375rem;
}

.symptom_status input[type="radio"] {
  display: none;
}

.symptom_status input[type="radio"] + label {
  width: 1.875rem; /* 30px 转换为 rem */
  height: 1.875rem; /* 30px 转换为 rem */
  border-radius: 50%;
  display: inline-block;
  border: 0.125rem solid #6c6c6c; /* 2px 转换为 rem */
  cursor: pointer;
  background-color: #f0f0f0;
  margin: 0.3125rem; /* 5px 转换为 rem */
}

.symptom_status input[type="radio"]:checked + label {
  border-color: #6c6c6c;
}

.symptom_status input[type="radio"]:nth-of-type(1):checked + label {
  background-color: #8bc34a; /* 绿色 */
}

.symptom_status input[type="radio"]:nth-of-type(2):checked + label {
  background-color: #ffeb3b; /* 黄色 */
}

.symptom_status input[type="radio"]:nth-of-type(3):checked + label {
  background-color: #f44336; /* 红色 */
}

.scroll_arrow {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent; /* 50px 转换为 rem */
  border-right: 2rem solid transparent; /* 50px 转换为 rem */
  border-top: 2rem solid #6c6c6c; /* 50px 转换为 rem */
  margin: 0.5rem auto; /* 50px 转换为 rem */
}
